html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* every thing above is for resetting the default browser styling*/
@font-face {
	font-family: 'Roboto';
	src: url('./fonts/robotomono-variablefont_wght-webfont.woff2') format('woff2'), url('./fonts/robotomono-variablefont_wght-webfont.woff') format('woff');
}

@font-face {
	font-family: 'Western';
	src: url('./fonts/bouweste-webfont.woff2') format('woff2'), url('./fonts/bouweste-webfont.woff') format('woff');
}

body{
	margin: 0;
    padding: 0;
	background-color: agua;
	font-family: 'Roboto';
}
.content{
	display:grid;
	grid-template: 1fr 45fr/ 1fr 10fr;
	background-color: #FFFFFF;
	max-width: 100%;
	margin: 0 auto;
}

.header{
	grid-area: 1 / 1 / 2 / 3;
	display: flex;
	justify-content: space-between;
	justify-items: center;
	align-items: center;
	position: sticky;
	top: 0px;
	z-index: 100;
	background-color: #FFFFFF;
	max-width: 100vw;
	margin: 0;

}
.header > button{
	border: none;
	height: 100%;
	margin-right:3vw;
	background-color: #3A4A3D;
	font-family: inherit;
	font-weight: bold;
	color:#fff
	
}
.header > button:hover{
	background-color: #fff;
	color: #800000;
	border: solid 1px #800000;
}
.siteNameCont{
	display: flex;
	align-items: center;
	font-size: 3vw;
	font-weight: bold;
	margin-left: 2vw;
}
.siteIcon{
	max-width: 6vw;
	height: auto;
}

.navbar{
	grid-area: 2 / 1 / 3 / 2;
	display: flex;
	flex-direction: column;
	align-self: flex-start;
	position: sticky;
	top: 5vw;
	z-index: 100;
	flex: auto;
	margin: 0px;
	max-width: 14vw;
}

.tab{
	padding: 1rem;
	margin-top: 2vh;
	margin-left: 3vw;
	background-color: #710117;
	border: none;
	font-family: 'Roboto';
	font-weight: bolder;
	color: white;
}
.tmenu{
	margin-top: 0px;
}
.tab:hover{
	background-color: #71011788;
}
.tab:active{
	background-color: #410013;
}
.visualContainer{
	grid-area: 2 / 2 / 3 / 3;
	background-color:#54627B;
	display:flex;
	flex-direction: column;
	margin:0;
	max-width: 85vw;
}
.tacosImg, .storyImge, .bannerImg{
	max-width: 100%;
	height: auto;
	margin-top: 5rem;
	
}
.tacosImg{
	margin-top: 0;
}
.bannerCont{
	position:relative;
}
.bannerImg{
	margin-top: 0px;

}
.bannerTxt{
	font-family: "Western";
	font-size: 5vw;
	color: black;
	position: absolute;
    top: 50%;
    left: 5%;
    transform: translate(-50%, -50%);
    z-index: 50;
	width: 2rem;
	height: auto;
	text-align: center;
}
.featuredBox{
	position: relative;
	margin-top: 20vh;
}
.aboutCont, .storyCont{
	max-width: 35%;
	padding: 3vw;
	background-color:#ecd5bbee;
	position:absolute;
	z-index: 50;
	left: 5vw;
	border-bottom-left-radius: 30px;
	border-bottom-right-radius: 30px;
}
.storyImg{
	margin-bottom: 20vh;
}
.featTitle{
	font-weight: bold;
	font-size: 2vw;
	margin-bottom: 2vw;
}
.featText{
	line-height: 1.3rem;
}
.menu{
	display: grid;
	grid-template: 1fr / 1fr 1fr;
	background-color:antiquewhite;
	border: solid 2px black;

}
.left{
	grid-area: 1 / 1 / 2 / 2;
	border: solid 2px black;
}
.right{
	grid-area: 1 / 2 / 2 / 3;
	border: solid 2px black;
}
.mImg{
	width:80%; 
}
.card{
	margin-left: 5vw;
	margin-right: 5vw;
	background-color:#ecd5bb;
}
	




